# Entorno virtual
/cursoIA/

# Archivos de compilación de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos del sistema
*.DS_Store

# Archivos de entorno
.env
.venv

# Configuración de editores
.vscode/
.idea/
